div.taxonomy-dss-node + div.taxonomy-dss-terms {
  border-top: 1px solid gray;
  padding-top: 0.2em;
}
div.taxonomy-dss-terms + div.taxonomy-dss-nodes, div.taxonomy-dss-node + div.taxonomy-dss-nodes {
  border-top: 1px solid gray;
  padding-top: 3em;
}
div.taxonomy-dss-node div.node {
  border-bottom: 0;
  margin-bottom: 0;
}
div.taxonomy-dss-terms {
  margin-bottom: 0.5em;
}
div.taxonomy-dss-terms ul.menu li a, .block-taxonomy_dss_block ul.menu li a {
  display: inline;
}
.taxonomy-dss-terms .node h2 {
  font-size: 140%;
}
li a.current {
  color: purple;
}
li a.active {
  color: black;
}
